h1,
h2,
h5 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.homeContainter {
    display: table;
}
.logo_image {
    width: 100px;
    height: 120px;
    margin-top:30px;
    transform-origin: 50% 0%;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
.link_logo_image {
    width: 40px;
    height: 40px;
    margin:5px 10px;
}

.logo_container{
    text-align: center;
    margin: 30px auto;
    align-items: center;
}
.col{
    margin-top:30px;
}

h1 {
    height: 120px;
}

.division-line {
    border-bottom: 3px solid #444444;
    margin: 30px auto;
    width: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex: 1;
}

#root {
    height: 100%;
}

footer {
    height: 100px;
    position: relative;
    bottom: 0;
}

html, body {
    height: 100%;
}

#home_category_container{
    display: flex;
    flex-direction: row;
    width:80%;
}
.home_category_item_box{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30%;
    /*padding-bottom: 25%;*/
    border-radius: 50%;
    background-color:rgb(255, 212 , 0);
    /*color: black;*/
    font-size: x-large;
    cursor: pointer;
    position: relative;
    width:120px;
    height:120px;
}

@media(min-width: 576px)
{
    .home_category_item_box{
        width:150px;
        height:150px;
        padding-top: 3rem;
    }
}
@media(min-width: 768px)
{
    .home_category_item_box{
        width:180px;
        height:180px;
        padding-top: 4rem;

    }
}
@media(min-width: 992px)
{
    .home_category_item_box{
        width:200px;
        height:200px;
        padding-top: 5rem;
        font-size: xx-large;
    }
}
@media(min-width: 1200px)
{
    .home_category_item_box{
        width:260px;
        height:260px;
        padding-top:6rem;
    }
}


.home_category_item{
    text-decoration: none; /* 색상 및 밑줄 없앰*/
    color:black;
    -webkit-text-stroke: thick;
}
.HomeTitle{
    background-color: rgb(255, 212 , 0);
}
#header_right_fixed{
    align-items: end;
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(45deg);
    }
    20%{
        transform: rotate(-45deg);
    }
    30%{
        transform: rotate(30deg);
    }
    40%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}